{{ $image1 := .Get "image1" }}
{{ $alt1 := .Get "alt1" }}

{{ $image2 := .Get "image2" }}
{{ $alt2 := .Get "alt2" }}

{{ $image3 := .Get "image3" }}
{{ $alt3 := .Get "alt3" }}

<div class="my-9">
    <div class="flex flex-col md:flex-row gap-3 items-center w-full text-center">
        {{ with $image1 }}
            <img
            alt="{{ $alt1 }}"
            src="{{ $image1 }}"
            class="w-full md:w-1/2 object-cover mx-auto"
            />
        {{ end }}
        {{ with $image2 }}
            <img
            alt="{{ $alt2 }}"
            src="{{ $image2 }}"
            class="w-full md:w-1/2 object-cover mx-auto"
            />
        {{ end }}
        {{ with $image3 }}
            <img
            alt="{{ $alt3 }}"
            src="{{ $image3 }}"
            class="w-full md:w-1/2 object-cover mx-auto"
            />
        {{ end }}
    </div>
</div>