{{ $bigHeadline := .Get "bigHeadline"}}

{{ $headline1 := .Get "headline1" }}
{{ $emoji1 := .Get "emoji1" }}
{{ $description1 := .Get "description1" }}
{{ $image1 := .Get "image1" }}
{{ $alt1 := .Get "alt1" }}

{{ $headline2 := .Get "headline2" }}
{{ $emoji2 := .Get "emoji2" }}
{{ $description2 := .Get "description2" }}
{{ $image2 := .Get "image2" }}
{{ $alt2 := .Get "alt2" }}

{{ $headline3 := .Get "headline3" }}
{{ $emoji3 := .Get "emoji3" }}
{{ $description3 := .Get "description3" }}
{{ $image3 := .Get "image3" }}
{{ $alt3 := .Get "alt3" }}

{{ $headline4 := .Get "headline4" }}
{{ $emoji4 := .Get "emoji4" }}
{{ $description4 := .Get "description4" }}
{{ $image4 := .Get "image4" }}
{{ $alt4 := .Get "alt4" }}


<div class="my-9">
    {{ with $bigHeadline }}
        <h2>{{ $bigHeadline }}</h2>
    {{ end }}

    <div class="columns-1 sm:columns-2 md:columns-4 items-center w-full text-center">
        <div class="block px-3">
            {{ with $image1 }}
            <img
            alt="{{ $alt1 }}"
            src="{{ $image1 }}"
            class="h-32 w-32 object-cover mx-auto"
            />
            {{ end }}
        
            <p class="mt-4 text-lg font-bold text-gray-900 sm:text-xl">
                {{ $headline1 }} {{ $emoji1 }}
            </p>
        
            <p class="mt-1 max-w-sm text-sm text-gray-700">
                {{ $description1 }}
            </p>
        </div>

        <div class="block px-3">
            {{ with $image2 }}
            <img
            alt="{{ $alt2 }}"
            src="{{ $image2 }}"
            class="h-32 w-32 object-cover mx-auto"
            />
            {{ end }}
        
            <p class="mt-4 text-lg font-bold text-gray-900 sm:text-xl">
                {{ $headline2 }} {{ $emoji2 }}
            </p>
        
            <p class="mt-1 max-w-sm text-sm text-gray-700">
                {{ $description2 }}
            </p>
        </div>

        <div class="block px-3">
            {{ with $image3 }}
            <img
            alt="{{ $alt3 }}"
            src="{{ $image3 }}"
            class="h-32 w-32 object-cover mx-auto"
            />
            {{ end }}
        
            <p class="mt-4 text-lg font-bold text-gray-900 sm:text-xl">
                {{ $headline3 }} {{ $emoji3 }}
            </p>
        
            <p class="mt-1 max-w-sm text-sm text-gray-700">
                {{ $description3 }}
            </p>
        </div>

        <div class="block px-3">
            {{ with $image4 }}
            <img
            alt="{{ $alt4 }}"
            src="{{ $image4 }}"
            class="h-32 w-32 object-cover mx-auto"
            />
            {{ end }}
        
            <p class="mt-4 text-lg font-bold text-gray-900 sm:text-xl">
                {{ $headline4 }} {{ $emoji4 }}
            </p>
        
            <p class="mt-1 max-w-sm text-sm text-gray-700">
                {{ $description4 }}
            </p>
        </div>
</div>
</div>