
<div class="my-9">
  <p class="w-full text-center">
      By using latest technology stack and tools that can scale but not limited to.
  </p>

  <div class="flex flex-wrap items-center w-full text-center">
      <div class="px-1 mx-auto">
        <a href="https://laravel.com" target="_blank" rel="noopener noreferrer">
          <img
            alt="laravel"
            src="images/techs/tech-laravel.png"
            class="h-16 w-16 object-cover mx-auto"
          />
        </a>
      </div>

      <div class="px-1 mx-auto">
        <a href="https://inertiajs.com" target="_blank" rel="noopener noreferrer">
          <img
            alt="inertiajs"
            src="images/techs/tech-inertiajs.png"
            class="h-16 w-16 object-cover mx-auto"
          />
        </a>
      </div>

      <div class="px-1 mx-auto">
        <a href="https://vuejs.org" target="_blank" rel="noopener noreferrer">
          <img
            alt="vuejs"
            src="images/techs/tech-vuejs.png"
            class="h-16 w-16 object-cover mx-auto"
          />
        </a>
      </div>

      <div class="px-1 mx-auto">
        <a href="https://svelte.dev" target="_blank" rel="noopener noreferrer">
          <img
            alt="svelte"
            src="images/techs/tech-svelte.png"
            class="h-16 w-16 object-cover mx-auto"
          />
        </a>
      </div>

      <div class="px-1 mx-auto">
        <a href="https://tailwindcss.com" target="_blank" rel="noopener noreferrer">
          <img
            alt="tailwindcss"
            src="images/techs/tech-tailwindcss.png"
            class="h-16 w-16 object-cover mx-auto"
          />
        </a>
      </div>

      <div class="px-1 mx-auto">
        <a href="https://pestphp.com" target="_blank" rel="noopener noreferrer">
          <img
            alt="pest"
            src="images/techs/tech-pest.png"
            class="h-16 w-16 object-cover mx-auto"
          />
        </a>
      </div>

      <div class="px-1 mx-auto">
        <a href="https://www.mysql.com" target="_blank" rel="noopener noreferrer">
          <img
            alt="mysql"
            src="images/techs/tech-mysql.png"
            class="h-16 w-16 object-cover mx-auto"
          />
        </a>
      </div>

      <div class="px-1 mx-auto">
        <a href="https://aws.amazon.com" target="_blank" rel="noopener noreferrer">
          <img
            alt="aws"
            src="images/techs/tech-aws.png"
            class="h-16 w-16 object-cover mx-auto"
          />
        </a>
      </div>

      <div class="px-1 mx-auto">
        <a href="https://www.digitalocean.com" target="_blank" rel="noopener noreferrer">
          <img
            alt="do"
            src="images/techs/tech-do.png"
            class="h-16 w-16 object-cover mx-auto"
          />
        </a>
      </div>

      <div class="px-1 mx-auto">
        <a href="https://www.nginx.com" target="_blank" rel="noopener noreferrer">
          <img
            alt="nginx"
            src="images/techs/tech-nginx.png"
            class="h-16 w-16 object-cover mx-auto"
          />
        </a>
      </div>

      <div class="px-1 mx-auto">
        <a href="https://runcloud.io" target="_blank" rel="noopener noreferrer">
          <img
            alt="runcloud"
            src="images/techs/tech-runcloud.png"
            class="h-16 w-16 object-cover mx-auto"
          />
        </a>
      </div>
  </div>
</div>