<p class="w-full text-center">
    By using latest technology stack and tools that can scale but not limited to.
</p>

<div class="flex flex-col items-center bg-white md:flex-row w-full text-center">
    <div class="px-1 mx-auto">
        <img
          alt="laravel"
          src="images/techs/laravel.png"
          class="h-16 w-16 object-cover mx-auto"
        />
    </div>

    <div class="px-1 mx-auto">
        <img
          alt="inertiajs"
          src="images/techs/inertiajs.png"
          class="h-16 w-16 object-cover mx-auto"
        />
    </div>

    <div class="px-1 mx-auto">
        <img
          alt="svelte"
          src="images/techs/svelte.png"
          class="h-16 w-16 object-cover mx-auto"
        />
    </div>

    <div class="px-1 mx-auto">
        <img
          alt="tailwind"
          src="images/techs/tailwind.png"
          class="h-16 w-16 object-cover mx-auto"
        />
    </div>

    <div class="px-1 mx-auto">
        <img
          alt="pest"
          src="images/techs/pest.png"
          class="h-16 w-16 object-cover mx-auto"
        />
    </div>

    <div class="px-1 mx-auto">
        <img
          alt="mysql"
          src="images/techs/mysql.png"
          class="h-16 w-16 object-cover mx-auto"
        />
    </div>

    <div class="px-1 mx-auto">
        <img
          alt="aws"
          src="images/techs/aws.png"
          class="h-16 w-16 object-cover mx-auto"
        />
    </div>

    <div class="px-1 mx-auto">
        <img
          alt="do"
          src="images/techs/do.png"
          class="h-16 w-16 object-cover mx-auto"
        />
    </div>

    <div class="px-1 mx-auto">
        <img
          alt="nginx"
          src="images/techs/nginx.png"
          class="h-16 w-16 object-cover mx-auto"
        />
    </div>

    <div class="px-1 mx-auto">
        <img
          alt="runcloud"
          src="images/techs/runcloud.png"
          class="h-16 w-16 object-cover mx-auto"
        />
    </div>
</div>